---
const { id, name } = Astro.props;
---

<a
  href={"/peleador/${id}.png"}
  class="inline-block transition hover:scale-x-110 w-10 sm:w-14 md:w-16 lg:w-24 xl:w-26 group"
>
  <img
    class="aspect-[900/1200] h-full w-full object-cover"
    src={`/images/fighters/cards/${id}.png`}
    alt={name}
    decoding="async"
  />
  <div
    class="absolute inset-0 flex flex-col items-center justify-end bg-gradient-to-t from-pink-400/40 to-transparent p-1
  opacity-0 group-hover:opacity-100 transition-opacity"
  >
    <h3 class="text-seashell text-sm">{name}</h3>
  </div>
</a>
