<footer class="relative w-screen h-[400px]">
  <div
    class="absolute inset-0 bg-[url('/images/footer.webp')] bg-cover bg-bottom
    [mask-image:linear-gradient(transparent,black_50%)]"
  >
  </div>
  <div
    class="relative flex h-full flex-col items-center justify-center
      text-[#2a1f26]"
  >
    <div class="footer-content text-white">
      <p>© 2025 your company. All rights reserved.</p>
    </div>

    <div class="social-links text-white">
      <a href="https://twitter-links" target="_blank">Twitter</a>
      <a href="https://twitter-links" target="_blank">Facebook</a>
      <a href="https://twitter-links" target="_blank">Instagram</a>
    </div>
  </div>
</footer>
