<footer
  class="bg-cover bg-[url('/footer.webp')] w-screen h-[400px] flex flex-col justify-center items-center
  text-white"
>
  <div class="footer-content">
    <p>c 2025 your company. All rights reserved.</p>
  </div>
  <div class="social-links">
    <a href="https://twitter-links" target="_blank">Twitter</a>
    <a href="https://twitter-links" target="_blank">Facebook</a>
    <a href="https://twitter-links" target="_blank">Instagram</a>
  </div>
</footer>
